<style>
  IMG.rep-photo {
    display: block;
  }
</style>

<div class="overview">
  <img class="rep-photo" src="<%= @representative.photo %>" width="500" height="500">
  <h1 class="text-center"><%= @representative.name %></h1>
  <h2 class="text-center"><%= @representative.party %></h2>
  <h2 class="text-center"><%= @representative.address %></h2>
</div>
